*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    margin-top: 20vh;
    background-image: url(https://cdn.pixabay.com/photo/2017/06/12/19/06/bomb-2396486_960_720.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{

}

.container{
    background-color: red;
    height: 40vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    margin-left: 61vh;
    align-items: center;
    justify-content: center;
}

.relogio{
    background-color: rgb(108, 255, 3);
    font-size: 120px;
}